<td class="<%= tile_style %>">
  <% if moveable? %>
    <%= link_to({x: x, y: y}, class: 'absolute block w-full h-full') do %>
      <span class="invisible">(<%= x %>, <%= y %>)</span>
    <% end %>
  <% else %>
    <span class="absolute invisible">(<%= x %>, <%= y %>)</span>
  <% end %>
</td>
