<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "cubic11", "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-slate-800 text-slate-700 antialiased font-normal-sans">
    <main>
      <%= yield %>
      <footer class="w-full bg-slate-800 pb-6">
        <div class="container mx-auto px-4">
          <hr class="mb-6 border-b-1 border-slate-600">
          <div class="text-sm text-white font-semibold py-1 text-center"><%= release_version %></div>
        </div>
      </footer>
    </main>
  </body>
</html>
