<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "cubic11", "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="text-slate-700 antialiased">
    <div id="root">
      <%= render Admin::MainMenuComponent.new do |c| %>
        <% c.with_header do %>
          <%= link_to t('.newera'), admin_root_path, class: "md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0" %>
        <% end %>
        <% c.with_group(title: t('.game_data')) %>
      <% end %>
      <div class="relative md:ml-64 bg-slate-50">
        <nav class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
          <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
            <span class="text-white text-sm uppercase hidden lg:inline-block font-semibold">Dashboard</span>
          </div>
        </nav>
        <div class="relative bg-pink-600 md:pt-32 pb-32 pt-12"></div>
        <div class="px-4 md:px-10 mx-auto w-full -m-24">
          <div class="flex flex-wrap mt-4">
            <%= yield %>
          </div>
          <%= render Admin::FooterComponent.new(version: release_version) %>
        </div>
      </div>
    </div>
  </body>
</html>
