<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "cubic11", "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="flex items-stretch justify-center w-screen h-screen bg-gradient-to-b from-zinc-900 to-zinc-800">
      <main class="grow max-w-lg overflow-hidden bg-gray-50">
        <div class="my-4 text-center">Version: newera@<%= ENV['REVISION'] || 'DEV' %></div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
